.root {
    -fx-background-color: #383838;
}

/********** Menu style **********/
.menu-bar {
    -fx-background-color: #282828;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #080808;
}
.menu .label {
    -fx-text-fill: white;
}
.menu-button:hover {
    -fx-background-color: #282828;
}
.menu-button:showing {
    -fx-background-color: steelblue;
}
.menu-item .label {
    -fx-text-fill: white;
}
.menu-item:focused {
    -fx-background-color: steelblue;
}
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #282828;
    -fx-border-width: 1;
    -fx-border-color: #484848;
    -fx-padding: 0 0 0 0;
}
.separator *.line{
    -fx-border-width: 0.5;
    -fx-border-color: #484848;
}
/********** End of menu style **********/


.choice-box {
    -fx-pref-width: 200;
    -fx-background-color: steelblue;
    -fx-mark-color: white;
}
.choice-box .label {
    -fx-text-fill: white;
}
.choice-box:hover {
    -fx-background-color: #4693C5;
}
.choice-box .context-menu {
    -fx-pref-width: 200;
}

.scroll-pane {
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-background-color: #000;
}
#stackPane {
    -fx-background-color: #000;
    -fx-background-image: url('../ps-neutral.png');
    -fx-background-repeat: repeat;
}

#leftPanelButton {
    -fx-background-color: #282828;
    -fx-background-radius: 0;
    -fx-padding: 0px;
    -fx-font-size: 15px;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #555;
    -fx-text-fill: white;
}
#leftPanelButton:hover {
    -fx-background-color: #555;
}
#leftPanelButton:disabled {
    -fx-opacity: 1.0;
}