.root {
    -fx-background-color: #383838;
}
/*.choice-box {*/
    /*-fx-pref-width: 200;*/
/*}*/
/*.choice-box .context-menu {*/
    /*-fx-pref-width: 200;*/
/*}*/
#mainSP {
    -fx-border-width: 0;
    -fx-background-color: #000;
}
#mainStackPImg {
    -fx-background-color: #000;
    -fx-background-image: url('ps-neutral.png');
    -fx-background-repeat: repeat;
}
#leftSP {
    -fx-border-width: 0;
    -fx-background-color: #000;
}
#leftStackPImg {
    -fx-background-color: #000;
    -fx-background-image: url('ps-neutral.png');
    -fx-background-repeat: repeat;
}
#leftPanelButton {
    /*-fx-text-fill: white;*/
    -fx-padding: 0px;
    -fx-font-size: 15px;
}